POSTGRES_USER=matrix
POSTGRES_PASSWORD=change-me-local-postgres-password
MATRIX_POSTGRES_PORT=5433

MATRIX_REDIS_PASSWORD=change-me-local-redis-password
MATRIX_REDIS_PORT=6379

MATRIX_RABBITMQ_VHOST=matrix-local
MATRIX_RABBITMQ_USERNAME=matrix
MATRIX_RABBITMQ_PASSWORD=change-me-local-rabbitmq-password
MATRIX_RABBITMQ_PORT=5672
MATRIX_RABBITMQ_MANAGEMENT_PORT=15672
