#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-align: left;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

.app-root {
  display: flex;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-content {
  padding: 20px;
}

.error-text {
  color: red; /* тёмно-красный текст */
  font-size: 0.95rem;
  line-height: 1.4;
}
